{% extends "baseadministration.html.twig" %}
{% block body %}


    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>id:</th>
                    <th>Titre:</th>
                    <th>Date:</th>
                    <th>Actions:</th>
                </tr>
                </thead>


                {% for post in posts %}

                    <div class="form-group">
                        <tr>
                            <td><a value="{{ form.getData('id') }}" name="id" class="form-control"
                                   id="post_id" for="post_id">{{ post.id }}</a></td>
                            <td>{{ post.title }}</td>
                            <td> {{ post.createdAt }}  </td>
                            <td>
                                <a  class="btn btn-primary" href="?uri=chapitre&id={{ post.id }}">Lire</a>
                                <a  class="btn btn-success" href="?uri=editPost&id={{ post.id }}">Editer</a>

                                <form method="post" action="?uri=deletePost" onsubmit="return confirm('aljsbdakl')">
                                    <input type="hidden" name="id" value="{{ post.id }}">
                                        <button type="submit" class="btn btn-danger"  >Suprimer</button>
                                </form>

                            </td>
                        </tr>
                    </div>
                {% endfor %}


            </table>
        </div>
    </div>
{% endblock %}

