{% extends "base.html.twig" %}
{% block body %}
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            {{ post.tittle }}
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="home">Home</a>
            </li>
            <li class="breadcrumb-item active">{{ post.title }}</li>
        </ol>

        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-12 text">


                <hr>

                <!-- Date/Time -->
                <p>{{ post.createdAt| date }}</p>

                <hr>
                <!-- Post Content -->

                <p>{{ post.content }}</p>
                <hr>

                <!-- Comments Form -->



                <div class="card my-4">
                    <h5 class="card-header">Mon commentaire :</h5>
                    <div class="card-body">
                        <form method="post">
                            <div class="form-group">
                                <label for="comment_pseudo">Pseudo :</label>
                                <input value="{{ form.getData('pseudo') }}" name="pseudo" type="text"
                                       class="form-control" id="name" placeholder="pseudo*">
                                {% if form.hasErrors('pseudo') %}
                                    <div class="text-danger">veuillez ajouter un pseudo !!!</div>
                                {% endif %}
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="form-group">
                                <label for="comment_content">commentaire :</label>
                                <textarea name="content" id="content" class="form-control"
                                          placeholder="Commentaire*">{{ form.getData('content') }}</textarea>
                                {% if form.hasErrors('content') %}
                                    <div class="text-danger">veuillez ajouter votre commentaire !!!</div>
                                {% endif %}
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                    </div>
                </div>

                <!-- Single Comment -->

                <div class="media mb-4">
                    <div class="media-body border border-success rounded">
                        <div class=" col-lg">
                            {% for comment in comments %}
                            <h5 class="mt-0">{{ comment.content }} </h5>
                                <div>
                                    <form method="post">
                                        <button type="submit" name="signalCommentId" value="{{ comment.id}}" class="btn btn-link">

                                        </button>
                                    </form>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="media mb-4">
                    <div class="media-body border border-success rounded">
                        <div class=" col-lg">
                            <h5 class="mt-0">
                                <div>
                                    <button type="button" class="btn btn-link">signaler</button>
                                </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
        <!-- /.row -->

    </div>
{% endblock %}

